<div>
<%= link_to new_post_path do %>
  New post
<% end %>
</div>

<div>
<% @posts.order(created_at: :desc).each do |post| %>

  <p><%= post.message %></p>
  <p><%= User.find_by(id: post.user_id).username %></p>
  <p><%= post.created_at.strftime('%e %B at %H:%M') %></p>
  <p> ___________________________________________ </p>
  
<% end %>
</div>
